<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Unary</title>

        <!-- Remote CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>

        <!-- Local CSS -->
        <!-- <link rel="stylesheet" href="../lib/bootstrap-colorselector/bootstrap-colorselector.css"></link> -->
        <link rel="stylesheet" href="/asset/css/bootstrap-colorselector.css"></link>
        <!-- <link rel="stylesheet" href="../lib/style.css"></link> -->
        <link rel="stylesheet" href="/asset/css/style.css"></link>


        <!-- Remote JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.5.1/jquery.json.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.8/d3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Local JavaScript -->
        <!-- <script src="../lib/bootstrap-colorselector/bootstrap-colorselector.js"></script> -->
        <script src="/asset/js/bootstrap-colorselector.js"></script>

    </head>
    <body>
    {% block content %}
    {% endblock %}
    </body>
</html>
