<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Unary</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="/asset/css/bootstrap-datetimepicker.min.css">

        <!-- JavaScript -->
        <script src="/asset/js/jquery.min.js"></script>
        <script src="/asset/js/jquery.json.min.js"></script>
        <script src="/asset/js/bootstrap.min.js"></script>
        <script src="/asset/js/d3.min.js"></script>
        <script src="/asset/js/jscolor.min.js"></script>
        <script src="/asset/js/moment.min.js"></script>
        <script src="/asset/js/bootstrap-datetimepicker.min.js"></script>

        <style>
            div#content {
                width:       100%;
                height:      100%;
                position:    absolute;
                padding-top: 180px;
                text-align:  center;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="/">Unary</a></div>
                <div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/host">Create an Event</a></li>
                        <li class="active"><a href="/guest">Join an Event</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="content" class="container">
            <div class="col-md-12">
                <span class="brand-name" style="font-size: 80px;">Congrats!</span>
                <h1 style="font-size: 34px; font-weight: 200;">Your event is ready. Share it with you friend.</h1>
                <br>
            </div>
            <div class="col=md=12">
                <input type="text" class="form-control" size="50" name="eventid" style="width: 600px; margin-left: auto; margin-right: auto;" value="" />
                <script>
                    var sharelink = "http://unary-eventhost.appspot.com/guest?eventid=" + "{{event_id}}";
                    $('input.form-control').attr("value", sharelink);
                </script>
            </div>
        </div>
        </body>
</html>
