<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Unary</title>

        <!-- Remote CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>

        <!-- Local CSS -->
        <link rel="stylesheet" href="../asset/css/style.css"></link>


        <!-- Remote JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.5.1/jquery.json.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.8/d3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Local JavaScript -->
        <script src="../asset/js/jscolor.min.js"></script>

        <style>
            header {
                padding: 100px;
                text-align: center;
                background-color: #62A8E5; /* Pantone 292 */
                color: #ffffff;
            }
        </style>
    </head>

    <body>
        <header>
            <div class="container">
                <span class="brand-name" style="font-size: 80px;">Unary</span>
                <h1 style="font-size: 34px; font-weight: 200;">A simple efficient way to host events</h1>
                <br>
                <img src="../example.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
                <br>
                <br>
                <a class="btn btn-primary" style="width: 250px;" href="host.html">Create an event now!</a>
                <br>
                <br>
                <br>
                <form action="guest.html" class="form-inline" role="form" method="get">
                    <input type="text" class="form-control" size="50" name="eventID" placeholder="Or enter the ID of an event!" />
                    <button type="submit" class="btn btn-primary" style="width: 150px;">Join</button>
                </form>
                <br>
                <br>
                <br>
                <p style="font-size: 16px;">Create by Sun-Yi (Ethan) Lin and Chia-Hao (Chris) Hsu</p>
            </div>
        </header>
    </body>
</html>
