<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Unary</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="/asset/css/bootstrap-datetimepicker.min.css">

        <!-- JavaScript -->
        <script src="/asset/js/jquery.min.js"></script>
        <script src="/asset/js/jquery.json.min.js"></script>
        <script src="/asset/js/bootstrap.min.js"></script>
        <script src="/asset/js/d3.min.js"></script>
        <script src="/asset/js/jscolor.min.js"></script>
        <script src="/asset/js/moment.min.js"></script>
        <script src="/asset/js/bootstrap-datetimepicker.min.js"></script>

        <style>
            .entry:not(:first-of-type) {
                margin-top: 10px;
            }

            .glyphicon {
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="/">Unary</a></div>
                <div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/host">Create an Event</a></li>
                        <li><a href="/guest">Join an Event</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12"><br><br><br></div>
                <form action="/create" role="form" method="post">
                    <input type="hidden" name="eventid" value="" />
                    <div class="col-md-6">
                        <br>
                        <label>Name:</label>
                        <input type="text" class="form-control" name="hostname" />
                    </div>
                    <div class="col-md-6">
                        <br>
                        <label>Event:</label>
                        <input type="text" class="form-control" name="describe" />
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label>Times:</label>
                        <div class="entry input-group">
                            <input class="form-control datetimepicker" name="timestamp" type="text" />
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-add" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="/asset/js/site-host.js"></script>
    </body>
</html>
